<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EV-APP</title>
    
</head>

<body>

    <button onclick="handleClick(this)">Test</button>

    <script src="/static/js/evfetch.min.js"></script>
    <script>
        const handleClick = () => {
            const evfetch = new EVFetch()
            const params = {
                where: [
                    ['username','like', 'a*'],
                    ['email','=','edgarvalli80@gmail.com','|']
                ],
                fields: ['email', 'username'],
                limit: 1
            }
            evfetch.search('users',params).then(data => console.log(data))
        }
    </script>
</body>

</html>